.Score{
display:flex;
width:100%;
align-items: center;
margin-bottom:-20px;
}
.ChoiceWinner{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width:400px;
    height:50px;
    gap:30px;
}
.Rock{
    margin-top:20px;
}